{% extends 'base.html' %}

{% block content %}



    <div class="container">

    <h1>Dokumentasi PDF</h1>
    

    </div>

    <br><b/r>
    <table>
        <tr>
          <th>ID Surat</th>
          <th>Lampiran</th>
          <th>Hal</th>
          <th>Sifat</th>
          <th>Nama Perusahaan</th>
          <th>Besar Dana</th>
          <th>Jenis kerjasama</th>
          <th>Penanggung Jawab</th>
        </tr>
        <tr>
          <td>1</td>
          <td>-</td>
          <td>Kerjasama</td>
          <td>Penting</td>
          <td>Alfreds Futterkiste</td>
          <td>1.000.000.000</td>
          <td>Germany</td>
          <td>Maria Anders</td>
        </tr>
        <tr>
            <td>2</td>
            <td>-</td>
            <td>Kerjasama</td>
            <td>Penting</td>
            <td>Bersama</td>
            <td>96.000.000.000</td>
            <td>Mexico</td>
            <td>Gonzales</td>
        </tr>
        <tr>
            <td>3</td>
            <td>-</td>
            <td>Kerjasama</td>
            <td>Penting</td>
            <td>Sendiri</td>
            <td>45.000.000.000</td>
            <td>Canada</td>
            <td>James Ships</td>
        </tr>
      </table>


{% endblock %}